# Made using
# https://github.com/phonegap/phonegap-app-developer/blob/master/.gitignore
# as a template
# shenyang64@gmail.com

# MAC
.DS_Store

#Node
npm-debug.log
/node_modules

#Cordova
/platforms
/plugins

#res
resources/signing

# WINDOWS
# Node
npm-debug.log
node_modules/

# Cordova
platforms/
plugins/

# res
resources/signing/