@keyframes shadow{
	0% {
		height: 0;
		width: 0;
		margin-top: .75rem;
		margin-left: -1.99rem;
		margin-right: .75rem;
	}
	
    50% {
		height: .75rem;
		width: 1.5rem;
		margin-top: 0;
		margin-left: -2.74rem;
		margin-right: 0;
	}
	
	100%{}
}

@keyframes drop{
	0% {
		bottom: 1rem;
	}
	
	50% {
		bottom: 0reml
	}
	
	100%{}
}

#load{
	height: 100vh;
	width: 100%;
	background-color: #92c27c;
	background-image: url(/img/loadScreen.png);
	color: var(--mapeople-vibrant-blue);
	position: fixed;
	text-align: center;
	z-index: 2;
	/*disable text highlighting*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

#load>h1{
	margin-top: 35vh;
	margin-bottom: .5em;
	font-size: 96pt;
}

#load i{
	position: relative;
	bottom: 10px;
	animation-name: drop;
    animation-duration: 2s;
	animation-iteration-count: infinite;
}

#load span{
	height: .75rem;
	width: 1.5rem;
	animation-name: shadow;
    animation-duration: 2s;
	animation-iteration-count: infinite;
	background-color: var(--mapeople-vibrant-blue);
	border-radius: 50%;
	display: inline-block;
	margin-left: -2.74rem;
}

#nav-mobile-list a {
	font-weight: bold;
    font-size: 14pt;
}

#siteNav{
	background-color: var(--mapeople-pastel-green);
	color: var(--mapeople-vibrant-green);
}

@media only screen and (max-width: 700px) {
	
	@keyframes shadowMobile{
		0% {
			height: 0;
			width: 0;
			margin-top: .75rem;
			margin-left: -1.7rem;
			margin-right: .75rem;
		}
		
		50% {
			height: .75rem;
			width: 1.5rem;
			margin-top: 0;
			margin-left: -2.45rem;
			margin-right: 0;
		}

		100%{}
	}
	
    #load>h1{
		font-size: 44pt;
	}
	
	#load>h2{
		font-size: 24pt;
	}
	
	#load i{
		font-size: 36pt;
	}
	
	#load span {
		margin-left: -2.45rem;
		animation-name: shadowMobile;
	}
}