/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

input.poll-option-input {
	width: 85% !important;
}

ul.firebaseui-idp-list {
	margin: 0;
}

ul.firebaseui-idp-list > .firebaseui-list-item {
	margin-bottom: 0;
}

.textPinContent p {
	font-family: 'Comfortaa';
	word-wrap: break-word;
	width: inherit;
	white-space: pre-wrap;
}

.pin{
	border: 3px solid black;
	border-top: 0;
}

.pin img {
	height: 2.5rem;
}

.pin.selected {
	background-color:var(--mapeople-pastel-blue);
}

.pinToggleButton {
	margin: 0;
	font-size: 8pt;
	cursor: pointer;
}

.ui-dialog > .ui-widget-header {
	background: #66BB6A;
	color: white;
}

#cancelMarker {
	background-color: var(--mapeople-pastel-brown);
}

#confirmMarker {
	background-color: var(--mapeople-pastel-blue);
}

#content {
	flex-direction: column;
}

#content.editing #editFinish {
	display: flex;
	height: auto;
}

#editFinish {
	background-color: var(--mapeople-pastel-green);
	display: none;
	height: 0;
	width: 100%;
}

#editFinish a {
	flex-grow: 1;
	margin: 1rem;
}

#legend {
	/*font-family: Arial, sans-serif;*/
	font-family: 'Comfortaa';
	background: white;
	margin: 10px;
	opacity: .5;
}

#legend:hover {
	opacity: 1;
}

#legend > p {
	border: 3px solid black;
}

#legend a:hover {
	cursor: pointer;
	text-decoration: underline;
}

#legend > div > div.flex{
	flex-direction: column;
	text-align: center;
}

#legend > div > div.flex:first-child > .pin{
	border-right: 0;
}

#map {
	height: 100%;
}

#pinHide {
	padding: 0.5rem;
}

#pinHide i {
	margin: 0;
}

#pinHide:hover, #pinHide:active, #pinHide:focus {
	background-color: #eee;
}

#pinShow{
	padding: 0;
}

#pinShow i {
	font-weight: bolder;
}

#text-pin-dialog-textarea, #meeting-pin-dialog-textarea, #poll-pin-dialog-textarea {
	resize: none;
}

.poll-option-remove {
	width: 20px;
	height: 20px;
	padding: 15px;
}

.ui-dialog .ui-dialog-buttonpane, #poll-starting-choice, #poll-new-poll, #poll-list, #poll-add-to-poll, .poll-marker-display-buttons {
	text-align: center;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none;
}

#poll-new-poll-btn, #poll-add-to-poll-btn, .poll-option-name {
	margin: 5px;
	width: 65%;
}

#poll-list {
	margin: 0px;
}

.rounded-corners {
	border-radius: 3px;
}