#buttonNewMap{
	width: 100%;
}

#buttonNewMap > .material-icons{
	vertical-align: bottom;
}

#buttonCreateMap{
	flex-grow: 1;
	margin-right: 1em;
}

#buttonCreateMap > .material-icons{
	vertical-align: bottom;
}

#container{
	padding-top: 1em;
}

#createMap{
	text-align: center;
}

#createMap .modal-close{
	top: -1px;
}

#createMap .modal-footer{
	padding: 0 1em;
}

#mapName.taken{
	border-bottom: 3px solid red;
}

#mapName.approved{
	border-bottom: 3px solid #85cd67;
}

#optionPublic > a{
	padding: 0 .5em;
	margin-bottom: 3px;
}

#takenHint{
	color: red;
}