/* latin-ext */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local('Bitter Regular'), local('Bitter-Regular'), url(../assets/fonts/bitter/Bitter-Regular-Ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local('Bitter Regular'), local('Bitter-Regular'), url(../assets/fonts/bitter/Bitter-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Bitter';
  font-style: italic;
  src: local('Bitter Italic'), local('Bitter-Regular'), url(../assets/fonts/bitter/Bitter-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Bitter';
  font-style: italic;
  src: local('Bitter Italic'), local('Bitter-Regular'), url(../assets/fonts/bitter/Bitter-Italic.woff2) format('woff2');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(../assets/fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2');
}

/*animations for load screen*/
@keyframes shadow{
	0% {
		height: 0;
		width: 0;
		margin-top: .75rem;
		margin-left: -1.99rem;
		margin-right: .75rem;
	}
	
    40% {
		height: .75rem;
		width: 1.5rem;
		margin-top: 0;
		margin-left: -2.74rem;
		margin-right: 0;
	}
	
	100%{}
}

@keyframes drop{
	0% {
		bottom: .5em;
	}
	
	40% {
		bottom: .25em;
	}
	
	100%{}
}

/* colors */
:root {
	--mapeople-pastel-green:  #92c27c;
	--mapeople-pastel-brown:  #b38357;
	--mapeople-pastel-blue:   #5294ff;
	--mapeople-vibrant-brown: #b35600;
	--mapeople-vibrant-green: #3dc200;
	--mapeople-vibrant-blue:  #0062ff;
}

/* Set default font to comfortaa */
* {
	font-family: 'Bitter';
}

header .modal{
    max-width: 32em;
}

header .modal .input-field{
    margin-bottom: 0;
}

.btn.grey:hover{ 
    background-color: #bdbdbd !important;
}

.btn.cartographer-green:hover{
    background-color: var(--mapeople-vibrant-blue) !important;
}

.cartographer-green{
    background-color: var(--mapeople-pastel-blue) !important;
    color: white;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-leave-to, .fade-enter {
    opacity: 0;
}

.flex{
	display: flex;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
}

/*load screen styling*/
#load{
	height: 100vh;
	width: 100%;
	background-color: #92c27c;
	background-image: url(../assets/img/loadScreen.jpg);
	color: var(--mapeople-vibrant-blue);
	position: fixed;
	text-align: center;
	z-index: 1000;
	/*disable text highlighting*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

#load>h1{
	margin-top: 35vh;
	margin-bottom: .5em;
	font-size: 96pt;
}

#load i{
	position: relative;
	bottom: .25em;
	animation-name: drop;
    animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

#load span:last-child{
	height: .75rem;
	width: 1.5rem;
	animation-name: shadow;
    animation-duration: 1.5s;
	animation-iteration-count: infinite;
	background-color: var(--mapeople-vibrant-blue);
	border-radius: 50%;
	display: inline-block;
	margin-left: -2.74rem;
}

#nav-mobile-list a{
	font-weight: bold;
    font-size: 14pt;
}

#sign-in .row:last-child{
    margin-bottom: 0;
}

#siteNav{
	background-color: var(--mapeople-pastel-green);
}

#siteNav .brand-logo{
    margin-left: .5em;
}

/*
 * Must stay at the bottom to override above rules
 */
@media only screen and (max-width: 992px) {
	@keyframes shadowMobile{
		0% {
			height: 0;
			width: 0;
			margin-top: .75rem;
			margin-left: -1.7rem;
			margin-right: .75rem;
		}
		
		50% {
			height: .75rem;
			width: 1.5rem;
			margin-top: 0;
			margin-left: -2.45rem;
			margin-right: 0;
		}

		100%{}
	}
	
    #load>h1{
        display: none;
	}
	
	#load>h2{
		font-size: 24pt;
	}
	
	#load i{
		font-size: 36pt;
	}
	
    #load span:first-child{
        display: none;
    }
    
	#load span:last-child {
		margin-left: -2.45rem;
		animation-name: shadowMobile;
	}
    
    #siteNav .brand-logo {
        margin-left: 0;
    }
}